# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Dogeon Crawler.iml
# Datasource local storage ignored files
/../../../../../../../:\Users\Ishimine\Dogeon Crawler\.idea\.idea.Dogeon Crawler\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
